<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TSZXTeacher.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
				<key>dateExpires</key>
				<string>2022/3/29</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CYLTabBarController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CleanJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBRetainCycleDetector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Gifu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Hue.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LBXPermission.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MLeaksFinder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MoyaMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PagingKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TABAnimated.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TangramKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F71AD08FA10B15D5EB9AA068F630CE90AB0310B4</string>
						<key>dateExpires</key>
						<string>2022/3/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TeaBaseKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FS6W5QGSAM</string>
						<key>name</key>
						<string>Chivox Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FS6W5QGSAM.com.chivox.newtszxteacher</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:pred.91tszx.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>FS6W5QGSAM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TSZXTeacher.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>49dc4af6-5634-4abf-a30e-1c70db74f2c7</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.chivox.newtszxteacher</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FS6W5QGSAM</string>
				<key>name</key>
				<string>Chivox Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
